*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.outer_main {
  width: 100%;
  height: 100vh;
}
.inner_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* head section */
.header_main {
  background: url(/project1/assets/images/Background\ Image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head_sec {
  background-image: url(/project1/assets/images/Overlay.png);
  display: flex;
  height: 733px;
  background-size: cover;
}

.head_headings {
  display: flex;
  flex-direction: column;
  justify-content: center
}
.head_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
    padding-left:40px;
}
.heading1_parent {
  width: 594px;
  height: 54px;
}
.heading1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
  letter-spacing: 5px;
}
.para_parent {
  width: 524px;
  height: 128px;
  margin-bottom: 50px;
}
.paragraph {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.head_button {
  display: flex;
  gap: 20px;
}

.btn_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  background: #ffffff;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: #59bb80;
}
.btn_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
  background: #59bb80;
  border-radius: 6px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
}

/* responsive part top section */

.responsive{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.head_responsive{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
.heading1_res{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 5px
}
.para_res{
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-top: 20px;
}

/* middle section */

.middle_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #59BB80 5.35%, #00778B 100%);

}
.middle_inner{
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle_sec_heading1 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 54px;
    color: #FFFFFF;
}
.middle_sec_paragraph p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 20px;
}

/* third section */
.third_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
}
 .third_inner_section{
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .third_sec_headings{
  display: flex;
  flex-direction: column;
justify-content: center;
gap:10px;
width: 755px;
 }
.third_sec_heading{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 140%;
color: #000000;
}
.para{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 140%;
color: #696969;
}

/* Card section */

.card_section{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 50px;
}
.card_inner_section{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding:0px 85px;
}
.cards{
  width: 25%;
}
.cards_inner{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #FFFFFF;
border: 1px solid #D3D3D3;
border-radius: 10px;
padding: 13px 10px
}
.card_heading{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-transform: capitalize;
}
.card_paragraph{
  font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
}
.btn_card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 2px;
  width: 110px;
  background: #59BB80;
  border-radius: 6px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-transform: capitalize;
color: #FFFFFF;
}
/* media quaries */

@media only screen and (max-width: 669px) {
  .head_content {
    display: none;
  }
  .head_sec {
    opacity: 0.5;
  }
  .responsive{
    display:block;
  }
}

@media only screen and (max-width: 391px){
   .heading1_res{
         font-size:30px;
         line-height: 35px;
   }
   .head_responsive {
  padding: 48px 10px;
   }
   .third_inner_section {
    padding: 44px 0px;
}
.btn_card{
      margin-bottom: 15px;
}
.third_sec_headings {
  padding: 0px !important;
}
}
@media only screen and (max-width: 769px){

  .middle_inner{
  padding: 30px 20px !important;
} 
.middle_sec_heading1 span{
  font-size: 40px;
  line-height: 37px;
}
.middle_sec_paragraph p{
  padding-top: 8px;
  padding-bottom: 20px;
}
.card_inner_section {
  padding: 0px;
}

}
@media only screen and (max-width: 569px){
  .third_sec_heading{
    font-size: 25px;
    line-height: 100%;
  }
  .para {
    font-size: 16px;
    line-height: 115%;
  }
  .third_inner_section {
    padding: 50px 30px;
  }
  .cards {
    width: 80% !important;
  }
  .head_sec {
    height: 350px;
}
}
@media only screen and (max-width: 869px){
  .third_sec_headings {
    width:99%;
    padding: 0px 47px;
  }
  .cards {
    width: 40%;
  }

}