body{
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.maindiv{
          width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#00688B;
}
h1{
    color: coral;
    text-transform: capitalize;
}
.inner ,img{
    width: 300px;
}

.inner ,button{
    background: yellow;
    width: 150px;
    height: 40px;
    font-size: 15px;
    text-transform: capitalize;
    color:orange;
    font-weight: 700;
    margin-right: 20px;
    margin-left: 20px;
}