.outerdiv{
    width:100%;
    height: 100vh;
    background-color: cadetblue;
}
.innerdiv{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 40px;
}