.genral_order {
  .main-content-wrapper-full {
    .main-box {
      background-color: #ffffff;
      box-shadow: 0px 0px 100px -20px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      overflow-y: auto;
      z-index: 999;
      position: relative;
      margin-bottom: 40px;
      padding: 40px 15px;



      /*------ ORDER GENTRAL TOP BACK SCSS HERE ------*/
      .genral_top {
        text-align: left;
        display: flex;
        align-items: center;
        font-family: "Titillium Web";
        font-weight: 600;
        font-size: 20px;
        color: #638da1;
        padding-bottom: 25px;

        .back_arrow {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
        }
      }

      /*------ ORDER GENTRAL MAIN SCSS HERE ------*/
      .order_general {
        border: 7px solid #528097;
        border-radius: 129px;
        padding: 50px 88px;

        @media only screen and (max-width: 600px) {
          border-radius: 15px;
          padding: 20px 15px;
        }

        @media only screen and (min-width: 601px) and (max-width: 1200px) {
          border-radius: 20px;
          padding: 30px;
        }

        .rx_img {
          padding: 35px;
          display: flex;
          align-items: center;

          @media only screen and (min-width: 601px) and (max-width: 1200px) {
            padding: 20px;
            display: flex;
            justify-content: center;
          }

          @media only screen and (max-width: 600px) {
            padding: 20px;
          }

          img {
            height: 270px;

            @media only screen and (max-width: 600px) {
              height: 120px;
            }

            @media only screen and (min-width: 601px) and (max-width: 1200px) {
              height: 160px;
            }
          }
        }

        .order_general_info {
          border: 1px solid #00acba !important;
          padding: 15px 20px;
          border-radius: 0px 20px;

          @media only screen and (max-width: 600px) {
            padding: 15px;
          }

          .personal_details {
            padding-top: 1px;

            @media only screen and (max-width: 600px) {
              padding-top: 5px;
              padding-left: 0 !important;
            }

            h1 {
              font-family: "Titillium Web";
              font-weight: 600;
              font-size: 23px;
              color: rgba(38, 50, 56, 0.8);
              margin-bottom: 20px;
            }

            .heading {
              padding-bottom: 8px;
              border-bottom: 3px solid #00acba;
              margin-bottom: 10px;
            }

            p {
              font-family: "Titillium Web";
              font-weight: 600;
              font-size: 23px;
              color: rgba(38, 50, 56, 0.8);
              display: flex;
              align-items: center;
              justify-content: center;

              @media only screen and (max-width: 600px) {
                font-size: 19spx;
                align-items: center;
              }

              .profile_icon {
                display: inline-block;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                background-color: #00acba;
                margin-right: 7px !important;
              }
            }
          }
        }

        .prescription_top {
          margin-top: -20px !important;

          @media only screen and (max-width: 1200px) {
            font-size: 20px;
            align-items: center;
            margin-top: 30px !important;
          }

          // @media only screen and (min-width: 601px) and (max-width: 1200px) {
          //     margin-top: 31px !important;
          // }
        }

        .prescription {
          border-bottom: 3px dashed #528097;
          margin-top: 50px;
          border-radius: 0 20px;

          .prescription_in {
            display: inline-block;
            border-radius: 0 20px;
            background: #528097;
            width: 310px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Titillium Web";
            font-weight: 600;
            font-size: 26px;
            text-transform: capitalize;
            color: #ffffff;
            margin-bottom: -3px;

            @media only screen and (max-width: 600px) {
              border-radius: 0 10px;
              width: 100%;
              height: 46px;
              font-size: 18px;
            }

            @media only screen and (min-width: 601px) and (max-width: 1200px) {
              width: 272px;
              height: 47px;
              font-size: 20px;
            }
          }
        }

        .prescribe {
          border-bottom: 2px dashed #00acba;
          padding: 10px 0;

          .order_npi {
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 600px) {
              justify-content: left;
            }

            h3 {
              font-family: "Titillium Web";
              font-weight: 600;
              font-size: 25px;
              text-transform: capitalize;
              color: #528097;

              @media only screen and (max-width: 600px) {
                font-size: 18px;
              }

              span {
                font-family: "Titillium Web";
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                color: #263238;

                @media only screen and (max-width: 600px) {
                  font-size: 18px;
                }
              }
            }
          }

          .tracking_npi {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;

            @media only screen and (max-width: 600px) {
              justify-content: left;
            }

            h3 {
              font-family: "Titillium Web";
              font-weight: 600;
              font-size: 25px;
              text-transform: capitalize;
              color: #528097;

              @media only screen and (max-width: 600px) {
                font-size: 18px;
              }

              span {
                font-family: "Titillium Web";
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                color: #263238;

                @media only screen and (max-width: 600px) {
                  font-size: 18px;
                }
              }
            }
          }
        }

        .prescribe_bottom {
          border-bottom: none;
          padding-top: 30px;
          padding-bottom: 15px;

          .order_npi_border {
            border-right: 2px dashed #00acba;

            @media only screen and (max-width: 600px) {
              border: none;
            }
          }
        }



        .personal_details {
          padding-top: 30px;
          padding-left: 30px;

          @media only screen and (max-width: 600px) {
            padding-top: 27px;
            padding-left: 0;
          }

          h1 {
            font-family: "Titillium Web";
            font-weight: 600;
            font-size: 28px;
            text-transform: capitalize;
            color: #336d8a;
            display: flex;
            align-items: center;

            @media only screen and (max-width: 600px) {
              font-size: 22px;
              justify-content: center;
            }

            @media only screen and (min-width: 601px) and (max-width: 1200px) {
              width: 272px;
              height: 47px;
              font-size: 20px;
            }

            .profile_icon {
              display: inline-block;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 30px;
              width: 30px;
              border-radius: 50%;
              background-color: #00acba;
              margin-right: 10px;
            }
          }
        }

        .table_customizedrx {
          padding-bottom: 30px;

          thead {
            white-space: nowrap;

            th {
              background-color: #00ACBA !important;
              color: #fff !important;
              text-align: left;
              font-family: "Titillium Web";
              font-weight: 600;
              font-size: 20px;
              text-transform: capitalize;
              padding: 10px 20px;
              white-space: nowrap;
              text-align: center;
              border: none !important;

              &:last-child {
                border-radius: 0 20px 0 0 !important;
              }

              &:first-child {
                border-radius: 0 0 0 20px !important;
              }

              @media only screen and (max-width: 600px) {
                font-size: 17px;
                padding: 7px 17px;
              }
            }
          }

          tbody {
            tr {
              td {
                text-align: left;
                padding: 10px 30px;
                font-family: "Titillium Web";
                font-weight: 400;
                font-size: 17px;
                text-transform: capitalize;
                color: #676464 !important;
                white-space: nowrap;

                // border-bottom: 1px solid #EAEFED;
                @media only screen and (max-width: 600px) {
                  font-size: 14px;
                }

                .table_text_center {
                  text-align: center;
                }
              }

              .table_product {
                display: flex;
                align-items: center !important;
                justify-content: center;
              }
            }
          }
        }

        .qty_box_outer {
          padding-top: 25px;

          .qty_box {
            display: flex;
            align-items: center !important;
            justify-content: space-between;
            width: 390px;
            height: 48px;
            background: #eaefed;
            border-radius: 0px 20px;
            padding: 15px;

            @media only screen and (max-width: 600px) {
              width: 100%;
              height: 100%;
              border-radius: 0px 10px;
              padding: 15px;
              flex-direction: column;
            }

            .order_pipe {
              color: #00ACBA;
            }

            .total,
            .order {
              font-family: "Titillium Web";
              font-weight: 600;
              font-size: 18px;
              text-transform: capitalize;
              color: #676464;
            }

            .dash {
              color: #00acba;
            }

            .genral_total_order {
              color: #fff;
              font-size: 20px !important;
            }
          }

          .genral_total {
            display: flex;
            align-items: center !important;
            justify-content: center;
            width: 425px;
            height: 48px;
            background: rgba(38, 50, 56, 0.6);
            border-radius: 0px 20px;
            padding: 15px;

            @media only screen and (max-width: 600px) {
              width: 100%;
              height: 43px;
              border-radius: 0px 10px;
              padding: 15px;
            }
          }
        }

        .re_order {
          padding-top: 40px;
          padding-bottom: 0px;

          @media only screen and (max-width: 600px) {
            padding-top: 18px;
            padding-bottom: 0px;
          }

          ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center !important;
            justify-content: center;
            gap: 15px;
            padding-left: 0;

            li {
              @media only screen and (max-width: 600px) {
                width: 100%;
              }

              .re_order_btn {
                width: 408px !important;

                @media only screen and (max-width: 600px) {
                  font-size: 13px;
                  height: 43px;
                  width: 100%;
                  text-transform: capitalize;
                }
              }

              button {
                font-size: 16px !important;
                height: 43px !important;
                width: 100% !important;
                text-transform: capitalize;
              }
            }
          }
        }
      }
    }
  }
}