.prescription-ordering {
  .main-box {
    padding: 30px;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
    height: 100%;
    min-height: 475px;
    .prescription_heading {
      font-family: "Titillium Web";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 76px;
      text-align: center !important;
      text-transform: capitalize;

      @media only screen and (max-width: 668px) {
        font-size: 25px;
        padding: 10px 0 0 0;
      }
    }

    /*-------- ORDER LINE SECTION SCSS HERE --------*/
    .stepsOuter{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .orderline_box {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 0;
      margin: 0 10px;

      @media only screen and (max-width: 668px) {
        padding: 20px 0;
      }

      .order_line {
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #dedede;
        z-index: -1;
      }

      .order {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #ffffff;
        border: 8px solid #528097;

        @media only screen and (max-width: 668px) {
          width: 40px;
          height: 40px;
          border: 3px solid #528097;
        }
      }

      .order_fill {
        background-color: #528097;
      }
    }

    /*-------- ORDER LOCATION NAME SECTION SCSS HERE --------*/
    .order_location {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      margin-top: -36px;
      margin-left: 10px;
      margin-right: 10px;

      @media only screen and (max-width: 668px) {
        margin-top: -20px;
      }

      .location {
        font-family: "Titillium Web";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 127.1%;
        text-transform: capitalize;
        color: #00acba;
        width: 1015px;

        @media only screen and (max-width: 668px) {
          font-size: 16px;
        }

        @media only screen and (min-width: 669px) and (max-width: 991px) {
          font-size: 21px;
        }
      }

      .start {
        text-align: left;
      }

      .end {
        text-align: right;
      }
    }

    /*------ ORDER STEPS SECTION SCSS HERE ------*/
    .ordersteps_main {
      padding: 10px 25px 45px 25px;
      background-color: rgba(217, 137, 45, 0.05);
      border-radius: 0px 50px;
      margin: 30px 0;

      @media only screen and (max-width: 991px) {
        padding: 30px 10px;
      }

      .steps_way {
        position: relative;

        .steps_line {
          position: absolute;
          height: 100%;
          border: 2px dashed #00acba;
          left: 20px;
          left: 60px;
          z-index: -1;

          @media only screen and (max-width: 668px) {
            display: none;
          }

          @media only screen and (max-width: 991px) {
            left: 45px;
          }
        }

        .contact_by_phone {
          font-family: "Titillium Web";
          font-weight: 400;
          font-size: 14px;
          line-height: 133.1%;
          color: #528097;
          text-align: center;
          padding-bottom: 20px;

          span {
            font-size: 20px;
            color: #00acba;
          }
        }
      }

      /*------ ORDER STEP ONE SECTION SCSS HERE ------*/
      .steps {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        background: #528097;
        border-radius: 50px;
        position: relative;
        @media only screen and (max-width: 668px) {
          height: 38px;
        }

        @media only screen and (min-width: 669px) and (max-width: 991px) {
          height: 60px;
        }

        .step_start {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 120px;
          width: 120px;
          border-radius: 50%;
          background-color: #00acba !important;
          border: 8px solid #fdf9f5;
          font-family: "Titillium Web";
          font-weight: 700;
          font-size: 24px;
          line-height: 46px;
          text-transform: uppercase;
          color: #fdf9f5;

          @media only screen and (max-width: 668px) {
            height: 60px;
            width: 60px;
            border: 4px solid #fdf9f5;
            font-size: 12px;
          }

          @media only screen and (min-width: 669px) and (max-width: 991px) {
            height: 90px;
            width: 90px;
            font-size: 22px;
          }
        }

        .step_start_border {
          border: 8px solid rgb(233, 240, 235) !important;
        }

        .place {
          font-family: "Titillium Web";
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 61px;
          text-align: center;
          color: #fdf9f5;

          @media only screen and (max-width: 668px) {
            font-size: 12px;
          }

          @media only screen and (min-width: 669px) and (max-width: 991px) {
            font-size: 30px;
          }
        }

        .back_processing {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          border: 7px solid #fdf9f5;
          margin-right: 4px;
          background-color: #00acba;
          display: flex;
          align-items: center;
          justify-content: center;

          @media only screen and (max-width: 668px) {
            height: 40px;
            width: 40px;
            border: 3px solid #fdf9f5;
            margin-right: 0;
          }

          @media only screen and (min-width: 669px) and (max-width: 991px) {
            border: 3px solid #fdf9f5;
            height: 50px;
            width: 50px;
          }
        }

        .back_processingin {
          border: 9px solid #00acba;
          background-color: #fff !important;
          height: 100%;
          width: 100%;
          border-radius: 50%;

          @media only screen and (max-width: 668px) {
            border: 3px solid #00acba;
          }

          @media only screen and (min-width: 669px) and (max-width: 991px) {
            border: 3px solid #00acba;
          }
        }
      }

      .nameof_customer_set {
        padding-bottom: 15px !important;
      }

      .nameof_customer {
        padding: 40px 0;

        .date_pikker {
          @media only screen and (max-width: 668px) {
            flex-direction: column;
          }

          .date_input {
            width: 100%;
          }
        }

        .radio_btn_stack {
          width: 100%;

          .radio_grid {
            text-align: center;

            ul {
              list-style: none;
              display: flex;
              align-items: center;
              margin: 0;
              gap: 10px;
              margin-left: 9px;

              @media only screen and (max-width: 1100px) {
                flex-wrap: wrap;
              }

              .dash {
                @media only screen and (max-width: 1100px) {
                  display: none;
                }
              }

              .edit {
                .edit_icon {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 20px;
                  width: 20px;
                  border: 2px solid #00acba;
                  border-radius: 5px;
                  margin-right: 5px;
                }

                p {
                  font-family: "Titillium Web";
                  font-weight: 700;
                  font-size: 18px;
                  text-decoration-line: underline;
                  text-transform: capitalize;
                  color: #00acba;

                  @media only screen and (max-width: 400px) {
                    font-size: 14px;
                  }
                }
              }

              li {
                display: flex;
                align-items: baseline;
                justify-content: center;
                white-space: nowrap;
                color: #528097;
                font-size: 14px;

                @media only screen and (max-width: 400px) {
                  font-size: 12px;
                  white-space: pre-wrap;
                }

                span {
                  font-family: "Titillium Web";
                  font-weight: 700;
                  font-size: 16px;
                  text-transform: capitalize;
                  color: #528097;
                  margin-right: 5px;
                  display: flex;
                  align-items: center;

                  @media only screen and (max-width: 400px) {
                    font-size: 13px;
                  }
                }
              }
            }

            label {
              span {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #263238;

                svg {
                  fill: #528097 !important;

                  path {
                    fill: #00acba !important;
                  }
                }

                font-family: "Titillium Web";
                font-weight: 600;
                font-size: 30px;
                text-transform: capitalize;
                color: #02223a;

                @media only screen and (max-width: 668px) {
                  font-size: 15px;
                }

                @media only screen and (min-width: 669px) and (max-width: 991px) {
                  font-size: 26px;
                }
              }
            }
          }
        }

        h3 {
          font-family: "Titillium Web";
          font-weight: 600;
          font-size: 30px;
          line-height: 53px;
          text-align: center;
          text-transform: capitalize;
          color: #02223a;
          white-space: nowrap;
          margin-right: 15px;

          @media only screen and (max-width: 668px) {
            font-size: 22px;
          }

          @media only screen and (min-width: 669px) and (max-width: 991px) {
            font-size: 25px;
          }
        }
      }

      /*------ DOWN ARROW SECTION SCSS HERE ------*/
      .down {
        padding: 30px 0;

        @media only screen and (max-width: 668px) {
          padding-top: 0;
          padding-bottom: 30px;
        }
      }

      /*------ ADD PATIENT SECTION SCSS HERE ------*/
      .add_patient_main {
        background: rgba(65, 154, 160, 0.1);
        border-radius: 0 0 0 40px;
        margin: 20px;
        padding: 100px 0;
        position: relative;

        .cornar_box {
          position: absolute;
          background-color: #00acba;
          font-family: "Titillium Web";
          font-weight: 600;
          font-size: 30px;
          line-height: 52px;
          text-transform: capitalize;
          color: #ffffff;
          width: 353.38px;
          height: 61px;
          top: -30px;
          right: -22px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px 0px;

          @media only screen and (max-width: 668px) {
            font-size: 20px;
            width: 100%;
            height: 40px;
            top: -16px;
            right: 0;
          }

          @media only screen and (min-width: 669px) and (max-width: 991px) {
            font-size: 30px;
            width: 339.38px;
            height: 45px;
            top: -22px;
            right: -20px;
          }
        }

        .deleat_icon {
          position: absolute;
          bottom: 20px;
          right: 30px;
        }

        .steps {
          .place {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            @media only screen and (max-width: 668px) {
              gap: 5px;
            }

            .plus_icon {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #00acba;
              width: 30px;
              height: 30px;
              border-radius: 50%;

              @media only screen and (max-width: 668px) {
                width: 22px;
                height: 22px;
              }
            }
          }
          .place_searchbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            width: 100%;

            @media only screen and (max-width: 668px) {
              gap: 5px;
            }

            .plus_icon {
              display: flex;
              align-items: center;
              justify-content: center;
              // background-color: #00acba;
              width: 50px;
              height: 40px;
              // border-radius: 50%;

              @media only screen and (max-width: 668px) {
                width: 22px;
                height: 22px;
              }
            }
            .recent-order-table-layouts{
              position:absolute;
              top:10px;
              left:18%;
z-index: 999;
            }
          }
        }
      }

      .down {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Titillium Web";
        font-weight: 700;
        font-size: 30px;
        line-height: 61px;
        text-transform: capitalize;
        color: #00acba;

        @media only screen and (max-width: 668px) {
          font-size: 20px;
        }

        @media only screen and (min-width: 669px) and (max-width: 991px) {
          font-size: 25px;
        }

        .last_add_block {
          display: inline-block;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: #528097;
          margin-right: 15px;

          @media only screen and (max-width: 668px) {
            width: 30px;
            height: 30px;
          }

          @media only screen and (min-width: 669px) and (max-width: 991px) {
            width: 40px;
            height: 40px;
          }
        }
      }

      .down_last {
        padding-bottom: 0;
      }
    }
  }
}
.detof_customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #528097 !important;
  margin: 50px 0;
  padding: 4px 7px;
  border-radius: 30px;

  .customer-number {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #00ACBA;
      border: 4px solid #fff;
      font-family: 'Titillium Web';
      font-weight: 700;
      font-size: 25px;
      text-transform: capitalize;
      color: #fff;
  }

  ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding-left: 0;
      gap: 10px;

      li {
          font-family: 'Titillium Web';
          font-weight: 600;
          font-size: 18px;
          text-transform: capitalize;
          color: #fff;
      }
  }

  .down-arrow {
      height: 20px;
      width: 40px;
      display: flex;
      align-items: center;
  }
}

.detof_prod {
  background: #528097;
  margin-top: 50px;
  padding: 9px 33px;
  border-radius: 30px;

  .product {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      border-bottom: 2px solid #00ACBA;
      padding: 10px 0 5px 0;

      p {
          margin: 0;
          font-family: 'Titillium Web';
          font-weight: 600;
          font-size: 18px;
          text-transform: capitalize;
          color: #fff;
      }
  }

  .sale {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .product-name {
          display: flex;
          align-items: center;
          gap: 5px;
          font-family: 'Titillium Web';
          font-weight: 400;
          font-size: 20px;
          text-transform: capitalize;
          color: #FFFFFF;

          span {
              display: flex;
              align-items: flex-end;
          }
      }

      .product-price {
          ul {
              list-style: none;
              display: flex;
              align-items: center;
              padding-left: 0;
              gap: 10px;

              li {
                  font-family: 'Titillium Web';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 20px;
                  text-transform: capitalize;
                  color: #FFFFFF;
              }
          }
      }
  }

  .devider {
      height: 15px;
      display: flex;
      align-items: center;
      width: 100%;

      .devider-line {
          border: 1px dashed #FFFFFF;
          width: 100%;
      }
  }

  p {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      text-transform: capitalize;
      color: #FFFFFF;
      text-align: center;
      margin: 10px 0 10px 0;
  }

  .Medication {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .quantity {
          width: 40%;

          h4 {
              font-family: 'Titillium Web';
              font-weight: 700;
              font-size: 18px;
              text-transform: capitalize;
              color: #FFFFFF;
              margin-bottom: 8px;
          }

          span {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid #00ACBA;
              border-radius: 8px;
              padding: 5px 10px;
              font-family: 'Titillium Web';
              font-weight: 400;
              font-size: 18px;
              text-transform: capitalize;
              color: #FFFFFF;
              margin-bottom: 30px;
          }

          p {
              font-family: 'Titillium Web';
              font-weight: 400;
              font-size: 16px;
              text-transform: capitalize;
              color: #FFFFFF;
              margin: 0;
              padding: 0;
              text-align: left;
          }

          ul {
              list-style: none;
              display: flex;
              align-items: center;
              padding-left: 0;
              gap: 10px;

              li {
                  display: flex;
                  align-items: center;
                  font-family: 'Titillium Web';
                  font-weight: 400;
                  font-size: 18px;
                  text-transform: capitalize;
                  color: #FFFFFF;

                  span {
                      height: 20px;
                      width: 20px;
                      border-radius: 50%;
                      background-color: #00ACBA;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      margin-bottom: 0;
                  }
              }
          }
      }

      .dash {
          border: 1px dashed #00ACBA;
          height: 150px;
      }

      .day-supply {}
  }

  .button-two {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      list-style: none;
      padding: 20px 0 10px 0;

      li {
          .btn {
              border-radius: 8px;
              background: none;
              border: 2px solid #FFFFFF;
              font-family: 'Titillium Web';
              font-style: normal;
              font-weight: 600;
              font-size: 19px;
              line-height: 29px;
              text-align: center;
              text-transform: capitalize;
              color: #FFFFFF;
              padding: 3px 15px;
          }

          .save-btn {
              background-color: #fff;
              color: #00ACBA;
          }
      }
  }

}

/*------ ADD NEW SCSS AFTER LONG TIME HERE ------*/
