* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#mobile {
  display: none !important;
  padding: 50px 0;
  background-color: #000 !important;
  color: #fff;
}

.homepage_info {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.First_section {
  position: relative;
  background-image: url(../Images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.First_section .over-lay {
  display: flex;
  align-items: center;
  min-height: 77vh;
  background-image: url(/assets/Images/Overlay.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile_info {
  z-index: 99999999;
}

.btn_white {
  width: 132px;
  height: 42px;
  background: #ffffff;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: capitalize;
  color: #59bb80;
}

.btn_green {
  width: 132px;
  height: 42px;
  background: #59bb80;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
}

.middle_section {
  padding: 70px 0;
  width: 100%;
  background: linear-gradient(90deg, #59bb80 5.35%, #00778b 100%);
}

.middle_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.heading_part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.heading1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 140%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.card-section {
  padding: 70px 0;
  background: #f6f6f6;
}



.heading_lorem {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 140%;
}

.para_lorem {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #696969;
}

.card {
  height: 100%;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

.card-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #000000;
}

.card-body {
  display: flex;
  flex-direction: column;
}


.owl-theme .owl-dots .owl-dot.active span {
  width: 13px;
  height: 13px;
  margin: 5px 7px;
  background: #59bb80 !important;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot span{

}

.card-text {
  flex: 1;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #696969;
}

@media only screen and (max-width: 768px) {
  .profile_info {
    text-align: center;
  }

  .card-section {
    padding: 50px 0;
  }
}

a.btn {
  width: 136px;
  height: 42px;
  background: #59bb80 !important;
  border-radius: 6px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
}

.btn_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lorem {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 140%;
}

@media only screen and (max-width:567px) {
  #responsive {
    display: block !important;
  }

  .card_alignment {
    display: none !important;
  }

  #mobile {
    display: block !important;
  }
}



@media only screen and (min-width: 568px) {
  #responsive {
    display: none !important;
  }
}

.card_alignment {
  display: block;
}



@media only screen and (min-width:310px) and (max-width: 568px) {

  .heading_lorem {
    font-size: 32px;
  }

  .heading {
    font-size: 30px;
  }

  .heading1 {
    font-size: 22px;
  }

  .lorem {
    font-size: 30px;
  }

  .para_lorem {
    font-size: 16px;
  }

  .First_section .over-lay {
    display: none;
  }

  .First_section {
    height: 300px;
  }
}