$primary-color: #00acba;
$primary-dark-color: #02223A;
$secondary-dark-color: #263238;
$primary-grey-color: #528097;
$primary-orange-color: #d9892d;
$primary-font: "Titillium Web", sans-serif;

$danger-color: #d32f2f;