*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

.outer_div{
    width:100%;
    height:100vh;
}
.innerdiv{
    flex:1;
    display:flex;
    flex-direction: column;
}
#haider{
    width:100%;
    display:flex;
    justify-content: space-between;
    height: 70px;
align-items: center;
background: aquamarine;
}

img{
    width:100px;
}
.nav{
width:100%;
}
.navlinks{
    background-color: blueviolet;
    padding: 0px 3%;
    height:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul{
    display:flex;
    list-style: none;
}
li{
    padding-right:30px;
    color:white;
}
.section{
    margin-top:30px;
    width:100%;
    height:100%;
}
.pera{
    display:flex;
    justify-content: center;
    align-items: center;
}
#tooglem{
    width:200px;
   height: 100%;
   background-color:red;
   position: fixed;
   right:0;
   display: none;
}
.linktoggle{
    display: flex;
    justify-content: center;
}
.linktoggle ul {
    display:flex;
    flex-direction: column;
}
.linktoggle li{
margin-top:30px;
}
.logo{
    width:30px;
    position:absolute;
    right:10px;
    top:20px;
}

.line1{
    width:30px;
    height:3px;
    background-color: blue;
    margin-top:3px;
    transform: rotate(45deg);
    position: absolute;
right: -10px;
}
.line2{
    width:30px;
    height:3px;
    background-color: blue;
    margin-top:3px;
    transform: rotate(-45deg);
    position: absolute;
right: -10px;
}

.xyz{
    background-color: red;
}